*, ::after, ::before{
    box-sizing: border-box;
}

body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
}

p{
    font-size: 30px;
    font-weight: bold;
}

.button-style{
    border: 3px solid white;
    background-color: rgb(41, 40, 40);
    border-radius: 50%;
    width: 120px;
    height: 120px; 
}

.button-style-img{
    height: 50px;
}
.Reset{
    background-color: white;
    color: black;
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
}